<!-- error.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
    <title>Error</title>
  </head>
  <body>
    <div class="container">
      <h1>Error</h1>
      <p><%= errorMessage %></p>
      <p><a href="/login">Go back to login</a></p>
    </div>
  </body>
</html>
