<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <title>Member Login</title>
  </head>
  <body>
    <div class="container">
      <div class="right">
        <h1>Library Home page</h1>
        <table align="center" style="width: 50%">
          <tr>
            <td align="center">
              <a href="/register">Sign_up for Member User</a>
            </td>
          </tr>
          <tr>
            <td align="center"><a href="/login">Member Login</a></td>
          </tr>
          <tr>
            <td align="center"><a href="/admin">Administrator Login</a></td>
          </tr>
        </table>
      </div>
      <div class="left">
        <img class="center-image" src="/images/book1.jpeg" alt="Image 1" />
      </div>
    </div>
  </body>
</html>
