<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    <title>Member Login</title>
  </head>
  <body>
    <div class="container">
      <img src="/images/book1.jpeg" alt="Image 1" />
      <h1>Member login</h1>
      <form action="/login" method="POST">
        <table>
          <tr>
            <td><label for="username">Username</label></td>
            <td>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                autocomplete="off"
              />
            </td>
          </tr>
          <tr>
            <td><label for="password">Password</label></td>
            <td>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td><button>Login</button></td>
          </tr>
        </table>
      </form>
      <p><a href="/logout">Home Page</a></p>
    </div>
  </body>
</html>
